<section class="hero">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        About
      </h1>
      <h2 class="subtitle">
        This app is about viewing and commiting text-editions-data from or to babylon-online.org. 
      </h2>
    </div>
  </div>
</section>
<section class="section">
  <div class="container">
    <hr>
    API Key: {{config.apiKey}} <br />
    {{#if session.isAuthenticated}}
      Token: {{session.data.authenticated.access_token}} <br />
      Authenticated
    {{else}}
      Not authenticated
    {{/if}}
    <hr>
  </div>
</section>